---
layout: page
title: Home
youTubeIdTop: 'QRP27i-vNck'
youTubeIdBottom: 'RL5l8EyQjXs'
---

<hr>

{% include youTube.html id=page.youTubeIdTop %}

<p>
    A property-centric, data-driven game engine written in C++. For more information visit the project
    <a href="/fiea-game-engine" target="_blank">post</a>, or explore the source code
    <a href="https://github.com/LoganTHarvell/FieaGameEngine" target="_blank">here</a>.
</p>

<div class="breaker"></div>

{% include youTube.html id=page.youTubeIdBottom %}

<p>
    A local co-op puzzle platformer being developed by Studio Chili for release on
    <a href="https://store.steampowered.com/app/1356800/Keepers_of_the_Trees/" target="_blank">Steam</a>
    August 7th, 2020. It is set in a fantastical forest where two curious little Keepers explore,
    growing and de-growing plants to their advantage as they go on their adventures.
    For more information visit the project <a href="/keepers-of-the-trees" target="_blank">post</a>,
    follow the game on <a href="https://twitter.com/Keepers_Game" target="_blank">twitter</a>
    and <a href="https://twitter.com/Keepers_Game" target="_blank">instagram</a>, or sign up for the
    newsletter on the <a href="https://keepersofthetrees.wordpress.com/" target="_blank">official blog</a>.
</p>
