{% if page.title == "Home" %}

        {% assign showHeader = true %}

        {% assign headerTitle = site.title %}
        {% assign headerSubtitle = site.subtitle %}
        {% assign headerBio = site.bio %}

        {% assign headerImage = site.picture %}
        {% assign externalImage = site.external-image %}

        <hr>

{% elsif page.title == "Blog" or page.title == "Projects" %}

        {% assign showHeader = true %}

        {% assign headerTitle = page.title %}
        {% assign headerSubtitle = page.subtitle %}

        {% assign headerImage = page.headerImage %}
        {% assign externalImage = page.externalImage %}

{% endif %}


{% if showHeader == true %}

    <header class="header-home {% if site.animation %}animated{% endif %}">

        {% if headerImage %}
            <img class="image" alt="Header Image" src="{% if externalImage %}{{ headerImage }}{% else %}{{ site.url }}/{{ headerImage }}{% endif %}" />
        {% endif %}

        <h1 class="title">{{ headerTitle }}</h1>
        <h2 class="subtitle">{{ headerSubtitle }}</h2>

        {% if headerBio %}
            <p class="bio">{{ headerBio }}</p>
        {% endif %}

        {% include social-links.html %}
    </header>

    {% if page.title != "Home" %}
        <hr>
    {% endif %}

{% endif %}
