{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if page.title == "Home" %}
    {% include nav.html %}
    <hr>
{% endif %}

{% if showHeader == true %}

    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.baseurl }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.baseurl }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.baseurl }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="subtitle">{{ site.subtitle }}</h2>

        {% if page.title == "Home" %}
            <p class="bio">{{ site.bio }}</p>
        {% endif %}

        {% include social-links.html %}
    </header>

    {% if page.title != "Home" %}
        <hr>
    {% endif %}

{% endif %}

{% if page.title != "Home" %}
    {% include nav.html %}
{% endif %}
