.nav,
.nav-home
    > .list
        list-style: none
        margin: 0
        padding: 0 13px 0

        > .item
            display: inline-block

        > .item > .link
            display: inline-block
            font-weight: 300
            font-size: 1.4rem
            padding: 20px 10px
            text-decoration: none
            border-bottom: 1px solid transparent
            transition: ease-in-out all .3s
            padding-bottom: 1px

            &:hover
                color: $highlightcolor
                border-color: $highlightcolor

.nav
    position: absolute
    right: 0
    top: 0

.nav-home
    margin-top: 40px
    text-align: center

    > .list
        padding: 0

        > .item > .link
            font-size: 2rem
            padding: 7px 15px
