.nav,
.nav-home
    > .nav-list-div > .list
        list-style: none
        margin: 0 2rem 0 0

        > .item
            display: inline-block

        > .item > .link
            display: inline-block
            font-weight: 300
            font-size: 1.4rem
            padding: 0 0.5rem
            text-decoration: none
            border-bottom: 1px solid transparent
            transition: ease-in-out all .3s
            padding-bottom: 1px

            &:hover
                border-color: $gama

.nav
    position: absolute
    top: 1rem
    left: 0
    width: 100vw

    > .nav-list-div
        height: fit-content
        float: right
        position: relative
        top: 1rem

    > .nav-home-div
        height: fit-content
        float: left
        margin-bottom: -1rem

        > .link
            text-decoration: none
            display: flex
            align-items: center

            &:hover > .title
                color: $highlightcolor

            > .selfie
                width: 4rem
                margin-left: 1.5rem
                margin-right: 3px
                border-radius: 100%
                transition: all .2s
                box-shadow: 0
                opacity: 1

                &:hover
                    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.6), 0 0px 12px 0 rgba(0,0,0,0.6)
                    opacity: .6

            > .title
                display: inline
                transition: ease-in-out all .3s
                bottom: 1rem
                margin: 0 0 0 0.5rem
                color: $alpha

.nav-home
    text-align: center

    > .nav-list-div > .list
        padding: 0

        > .item > .link
            font-size: 2rem
            padding: 1rem 2rem
