.side-by-side
    @media #{$above}
        width: 100%
        margin: 6rem 0 6rem

    @media #{$below}
        width: 100%
        margin: 4rem 0

    > .toLeft,
    > .toRight
        display: inline-block
        width: 47.5%

        @media #{$below}
            img
                text-align: center
                display: block
                margin: 0 auto

    > .toLeft
        @media #{$above}
            margin-right: 2%

        @media #{$below}
            width: 100%
            margin: 0 0 4rem 0

    > .toRight
        @media #{$above}
            margin-left: 2%
            vertical-align: top

        @media #{$below}
            width: 100%
            margin: 0 0 4rem 0

    > .toLeft > p,
    > .toRight > p
        margin: 0 0 4rem 0

        @media #{$below}
            margin: 0
