---
layout: page
---

{% if page.image %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<h1 class="title">{{ page.title }}</h1>

<span class="date">
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

{% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
            <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">#{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}

{{content}}

{% if page.series %}
    <div class="blog-navigation">
        {% assign posts = site.categories[page.category] | where: "series", page.series %}
        
        {% for post in posts %}
          {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
          {% endif %}
        {% endfor %}
        {% for post in posts %}
          {% if post_index0 == forloop.index %}
            {% assign next_post = post %}
          {% endif %}
          {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post %}
          {% endif %}
          {% if next_post != nil and prev_post != nil %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% if prev_post.url %}
            <a class="prev" href="{{ site.url }}{{ prev_post.url }}">&laquo; {{ prev_post.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if next_post.url %}
            <a class="next" href="{{ site.url }}{{ next_post.url }}">{{ next_post.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}

{% if site.related %}
    {% include related.html %}
{% endif %}

{% if site.show-author %}
    {% include author.html %}
{% endif %}

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
