$backcolor: #222
$highlightcolor: #D44

$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #FFF
$beta: #CCC
$gama: #999
$delta: #666
$epsilon: #111

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
