$fontSans: "Overpass", "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Cousine Nerd Font Mono", Menlo, Courier, monospace

$backcolor: #0F1E37
$highlightcolor: #FFC940
$alpha: #ECEBE1
$beta: #A3B1B1
$gama: #DAA520
$delta: #8C670B
$epsilon: #402E02

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
