$fontSans: "Overpass", "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Cousine Nerd Font Mono", Menlo, Courier, monospace

$backcolor: #0F1E37
$highlightcolor: #FFC940

$alpha: #F7F8F6
$beta: #AB989C
$gama: #DAA520
$delta: #8C670B
$epsilon: #402E02

$blockcolor: #27272D
$blockbordercolor: $epsilon

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
